.blaze-container {
    position: relative;
    background: black;
}

.blaze-container,
.blaze-track-container,
.blaze-track
{
    height: 100%;
}

.blaze-prev,
.blaze-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.blaze-prev {
    left: 0;
}

.blaze-next {
    right: 0;
}

.blaze-pagination-slider {
    --slides-to-show: 4;
}

@media (min-width: 639px) {
    .blaze-pagination-slider {
        --slides-to-show: 5;
    }
}

@media (min-width: 1023px) {
    .blaze-pagination-slider {
        --slides-to-show: 6;
    }
}

@media (min-width: 1279px) {
    .blaze-pagination-slider {
        --slides-to-show: 8;
    }
}
